.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 10px;
  color: white;
}

.App-title {
  font-family: Avenir;
  font-size: 1.25em;
}

.App-intro {
  font-size: large;
}

h4 {
  padding: inherit;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
}

.item {
  padding-left: .5em;
  padding-right: .5em;
}

.caption {
  font-family: Avenir;
  text-decoration: none;
  width: 10em;
}

a:link, a:visited {
  text-decoration: none;
  font-family: Avenir;
}

a:hover, a:active {
  background-color: red;
}