.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.25em;
}

.App-intro {
  font-size: large;
}

div.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}