body {
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 10px;
  color: white;
}

.App-title {
  font-family: Avenir;
  font-size: 25px;
}

h2{
  font-family: Avenir;
  padding: 0em .2em 0em;
}

h2#no-results {
  color: red;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
}

.item {
  border-style: solid;
  border-color: darkgray;
  padding: .5em .5em 0;
  margin-bottom: 1em;
}

.caption {
  font-family: Avenir;
  text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
  font-family: Avenir;
}

a:hover, a:active {
  background-color: gold;
}

.form-control {
  display: inline;
  width: 30%;
  padding: 10px 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
  margin: 5px 5px 5px;
}

.search-btn {
  display: inline;
  font-size: 15px;
  margin: 5px 5px 5px;
}
